@import '../../../styles/global.scss';

.filterSection,
.countriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 40px;
  max-width: 90%;
  margin: 0 auto;
}

.filterSection {
  padding: 2.5 * $homepage-unit 0;

  @include phone {
    flex-direction: column;
    gap: 0px;

    > * {
      width: fit-content;
    }

    input {
      width: 100%;
      margin-bottom: 2 * $homepage-unit;
    }
  }
}

.countriesWrapper {
  border-radius: 5px;

  section {
    background-color: var(--cardBgColor);
    box-shadow: var(--boxShadow);
    width: calc(25% - 40px);

    &:hover {
      box-shadow: var(--boxShadowHover);
    }

    > * {
      text-decoration: none;
      color: var(--color);
    }

    img {
      width: 100%;
    }

    @include phone {
      width: 100%;
    }
  }

  .countryDetails {
    padding: 1.5 * $homepage-unit $homepage-unit 2.5 * $homepage-unit;

    @include phone {
      padding: $homepage-unit $homepage-unit 2 * $homepage-unit;
    }
  }
}
