@import '../../../styles/global.scss';

.filterSection,
.countriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  max-width: 90%;
  margin: 0 auto;
}

.filterSection {
  padding: 2.5 * $homepage-unit 0;
}

.countriesWrapper {
  border-radius: 5px;

  .countryDetails {
    padding: 1.5 * $homepage-unit $homepage-unit 2.5 * $homepage-unit;
  }

  section {
    background-color: var(--cardBgColor);
    box-shadow: var(--boxShadow);

    &:hover {
      box-shadow: var(--boxShadowHover);
    }
  }

  section > * {
    text-decoration: none;
    color: var(--color);
  }
}
