@import '../../../styles/global.scss';

.header {
  padding: $homepage-unit 0;
  background-color: var(--cardBgColor);
  border-bottom: 2px solid var(--headerBorder);

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
  }

  section,
  button {
    color: var(--color);
  }

  button {
    background-color: transparent;
    font-weight: bold;
    display: flex;
    align-items: center;

    svg {
      padding-right: 0.5 * $homepage-unit;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
