@import '../../../styles/global.scss';

.regionFilter {
  padding: 0.8 * $homepage-unit;
  border-radius: 5px;
  border: none;

  box-shadow: var(--boxShadow);
  color: var(--color);
}

.dark.regionFilter {
  background: $dark-mode-dark-blue;
}
