@import '../../../styles/global.scss';

.countryDetailsWrapper {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  gap: 0 100px;

  .flag {
    width: 50%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .countryDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'country-name country-name'
      'native-name top-level-domain'
      'population currencies'
      'region languages'
      'sub-region .'
      'capital .'
      'border-countries border-countries';

    h1 {
      grid-area: country-name;
    }

    .nativeName {
      grid-area: native-name;
    }

    .topLevelDomain {
      grid-area: top-level-domain;
    }

    .region {
      grid-area: region;
    }

    .subregion {
      grid-area: sub-region;
    }

    .capital {
      grid-area: capital;
    }

    .population {
      grid-area: population;
    }

    .languages {
      grid-area: languages;
    }

    .currencies {
      grid-area: currencies;
    }

    .borderCountries {
      grid-area: border-countries;
      margin: $homepage-unit * 3 0 0;
      display: flex;
      flex-wrap: wrap;

      p,
      button {
        display: inline;
      }

      p {
        margin-right: $homepage-unit;
      }

      button {
        @include button;

        &:not(:last-child) {
          margin-right: $homepage-unit;
        }
      }
    }
  }
}
