@import '../../../styles/global.scss';

.countryDetailsWrapper {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  gap: 0 100px;
  color: var(--color);

  @include phone {
    flex-direction: column;
  }

  .flag {
    width: 50%;

    @include phone {
      width: unset;
    }

    img {
      height: 100%;
      object-fit: cover;

      @include phone {
        height: unset;
        width: 100%;
      }
    }
  }

  .countryDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'country-name country-name'
      'native-name top-level-domain'
      'population currencies'
      'region languages'
      'sub-region .'
      'capital .'
      'border-countries border-countries';

    @include phone {
      display: block;
      margin-top: 1.5 * $homepage-unit;

      .nativeName,
      .topLevelDomain,
      .region,
      .subregion,
      .population,
      .languages,
      .currencies {
        margin-bottom: 0.5 * $homepage-unit;
      }

      .capital {
        margin-bottom: 1.5 * $homepage-unit;
      }
    }

    h1 {
      grid-area: country-name;
    }

    .nativeName {
      grid-area: native-name;
    }

    .topLevelDomain {
      grid-area: top-level-domain;
    }

    .region {
      grid-area: region;
    }

    .subregion {
      grid-area: sub-region;
    }

    .capital {
      grid-area: capital;
    }

    .population {
      grid-area: population;
    }

    .languages {
      grid-area: languages;
    }

    .currencies {
      grid-area: currencies;
    }

    .borderCountries {
      grid-area: border-countries;
      margin: $homepage-unit * 3 0 0;
      display: flex;
      flex-wrap: wrap;

      @include phone {
        display: block;
        margin-bottom: 3 * $homepage-unit;
      }

      p,
      button {
        display: inline;
      }

      p {
        margin-right: $homepage-unit;

        @include phone {
          display: block;
          margin-right: 0;
          margin-bottom: $homepage-unit;
        }
      }

      button {
        @include button;

        background: var(--cardBgColor);
        box-shadow: var(--boxShadow);

        a {
          color: var(--color);
        }

        &:not(:last-child) {
          margin-right: $homepage-unit;
        }

        &:hover {
          box-shadow: var(--boxShadowHover);
          cursor: pointer;
        }
      }
    }
  }
}
