@import '../../../styles/global.scss';

.searchBar {
  padding: 0.8 * $homepage-unit;
  border-radius: 5px;
  border: none;
  width: 40%;

  box-shadow: var(--boxShadow);
  color: var(--color);
  background-color: var(--cardBgColor);

  &::placeholder {
    color: var(--color);
  }
}
