@mixin button {
  background: $white;
  border: 1px solid $light-mode-very-light-gray;
  border-radius: 3px;
  box-shadow: 0px 0px 7px 0.5px rgba(133, 133, 133, 0.5);
  padding: 0;
  margin-bottom: $homepage-unit;

  a {
    padding: $homepage-unit * 0.1 2 * $homepage-unit;
    text-decoration: none;
    color: $light-mode-dark-gray;
  }

  &:hover {
    box-shadow: 0px 0px 7px 0.5px rgba(133, 133, 133, 0.75);
    cursor: pointer;
  }
}

// @mixin themify($themes) {
//   @each $theme, $map in $themes {
//     .theme-#{$theme} & {
//       $theme-map: () !global;
//       @each $key, $submap in $map {
//         $value: map-get(map-get($themes, $theme), '#{$key}');
//         $theme-map: map-merge(
//           $theme-map,
//           (
//             $key: $value,
//           )
//         ) !global;
//       }
//       @content;
//       $theme-map: null !global;
//     }
//   }
// }
// @function themed($key) {
//   @return map-get($theme-map, $key);
// }
