@mixin button {
  border-radius: 3px;
  padding: 0;
  margin-bottom: $homepage-unit;

  a {
    padding: $homepage-unit * 0.1 2 * $homepage-unit;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0px 0px 7px 0.5px rgba(133, 133, 133, 0.75);
    cursor: pointer;
  }
}

@mixin phone {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
